/**
* -----------------------------------------------------------------------
*                                  Colors
* -----------------------------------------------------------------------
*/

$black: #000;
$white: #fff;

/**
* -----------------------------------------------------------------------
*                              Font Families
* -----------------------------------------------------------------------
*/

$dosis: 'Dosis-Bold';
$roboto: 'Roboto';
$roboto-l: 'Roboto Light';

@font-face {
    font-family:"Dosis-Bold";
    src:url("../fonts/Dosis-Bold.woff2") format("woff2"),url("../fonts/Dosis-Bold.woff") format("woff"),url("../fonts/Dosis-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Roboto";
    src:url("../fonts/Roboto-Regular.woff2") format("woff2"),url("../fonts/Roboto-Regular.woff") format("woff"),url("../fonts/Roboto-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"Roboto Light";
    src:url("../fonts/Roboto-Light.woff2") format("woff2"),url("../fonts/Roboto-Light.woff") format("woff"),url("../fonts/Roboto-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}

/**
* -----------------------------------------------------------------------
*                             	Icomoon
* -----------------------------------------------------------------------
*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kc73d5');
  src:  url('../fonts/icomoon.eot?kc73d5#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kc73d5') format('truetype'),
    url('../fonts/icomoon.woff?kc73d5') format('woff'),
    url('../fonts/icomoon.svg?kc73d5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e901";
  color: #009688;
}
.icon-hexagone-white:before {
  content: "\e911";
  color: #fff;
}
.icon-hexagone:before {
  content: "\e912";
  color: #4d4d4d;
}
.icon-search-arrow-mobile:before {
  content: "\e91a";
}
.icon-strelica_search:before {
  content: "\e91c";
}
.icon-arrow_mobile:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e91d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin2:before {
  content: "\eaca";
}


/**
* -----------------------------------------------------------------------
*                               Media Queries
* -----------------------------------------------------------------------
*/

// Extra small screen / phone
$screen-xs: 480px;

// Small screen / tablet
$screen-sm: 768px;

// Medium screen / desktop
$screen-md: 992px;

// Large screen / wide desktop
$screen-lg: 1200px;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm - 1);
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);

/**
* -----------------------------------------------------------------------
*                               respond-to()
* -----------------------------------------------------------------------
*/

@mixin respond-to($media) {
	@if $media == mobile {
		@media (max-width: $screen-xs-max) { @content }
	}
	@else if $media == tablet {
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { @content }
	}
	@else if $media == laptop {
		@media (min-width: $screen-md) and (max-width: $screen-md-max) { @content }
	}
	@else if $media == desktop {
		@media (min-width: $screen-lg) { @content }
	}
	@else if $media == laptop-up{
		@media (min-width: $screen-md) and (max-width: $screen-lg) { @content }
	}
	@else if $media == tablet-down{
		@media (max-width: $screen-sm-max) { @content }
	}
	@else {
		@media screen and (min-width: $media + px) { @content; }
	}
}
