.design {
  @include respond-to (768) {
    min-height: 558px;
    padding: 0 $space-2;
  }
  button {
    margin:0;
    @include respond-to (768) {
      display: block;
      margin-top: 37px;
      padding: $space-1 $space-3;

    }

  }

  h2{
    text-align: center;
    color: $green;
    @include respond-to (768) {

    text-align: left;
    font-size: 19px;
    padding: 10px 0;
    letter-spacing: 0.2em;
    }
  }
  p {
    padding: $space-2 2rem 0 0;
    text-align: center;
    color: $silver;
    font-size: 16px;
    @include respond-to (768) {
      text-align: left;
      padding: 1.5rem 1rem 0 0;
      line-height: 22px;

    }

  }
  .wrapper {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    padding: $space-1;
  }
  &__slider {
    :focus {
      outline: none;
    }
    @include respond-to (768) {
      padding-top: 115px;
    margin-left: 0;
    padding-left: 105px;    }

  }
  &__slider-buttons {
    ul {
      display: none;
      @include respond-to(768) {
        display: flex;
        margin-left: 20%;
        max-width: 600px;
        padding-top: 3.5rem;
        font-size: 20px;
      }
    }
    li:nth-child(2) {
      @include respond-to (768) {
        padding-left: 0.5rem;
      }
    }
  }
}
