.header {
  min-height: 745px;

  text-align: center;
  background: url(../../images/header-img.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
position: relative;
h1 {
  color:$white;
  text-transform: uppercase;
  letter-spacing: 7px;
  padding-top: 90px;
}
p{
  color: $white;
  letter-spacing: 1px;
}
a {
  color: $white;
  font-size: 20px;
  padding-left: 8px;
}
 .wrapper {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
 }
 .social-wrapper {
   position: absolute;
   bottom: 17px;
 }
}
