.community {
    min-height: 484px;
    padding-top: 91px;
    max-width: 1090px;
    margin: 0 auto;
    .community__slider {
        img{
            float: right;
        }
    }
}

.community__wrapper-right-buttons {
    justify-content: flex-end;
    display: flex;
}

.community__wrapper {
    display: flex;
}

.community__wrapper-right {
    width: 805px;
    padding-right: 1rem;
}

.community__wrapper-left {
    text-align: center;
    padding-top: 73px;
    padding-right: 42px;
}

.community__wrapper-left-img {
    padding-bottom: 31px;
}

.community__wrapper-left-title {
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
    .community__wrapper-right-list {
        display: none;
        @include respond-to(768) {
            display: flex;
            font-size: 20px;
        }
    }
