.community {
    min-height: 484px;
    padding-top: 91px;
    max-width: 1090px;
    margin: 0 auto;
    .slick-slide {
        img{
            float: right;
        }
    }
    .our-community {
        display: flex;
    }
    .our-community__right {
        width: 805px;
        padding-right: 1rem;
    }
    .our-community__left {
      text-align: center;
    padding-top: 73px;
    padding-right: 42px;

    &__left-img {
      padding-bottom: 31px;

    }

  img {
    padding-bottom: 31px;
  }
  h2 {
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
    }
    &__buttons {
        justify-content: flex-end;
        display: flex;
        ul {
            display: none;
            @include respond-to(768) {
                display: flex;
                font-size: 20px;
            }
        }
    }

}
